<!-- Soluciones para tu empresa  -->
<!-- <section class="myBackground2">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-4 pb-3 py-md-5">
                <h2 class="text-center mt-3 mt-lg-4 mt-sm-0 font-weight-bold text-all" [innerHTML]="'COMUNIDA.Main.EmpresaTitulo' | translate"></h2>
            </div>
        </div>
        <div class="row pb-md-5">
            <div class="col-12 col-lg-6 px-0 pr-lg-4">
                <div class="card border-0 myBackground2">
                    <img class="card-img-top" src="../../../assets/finished-images/02_01_soluciones_espacios_baja.jpg"  class="rounded-0 comunidad-main-imagen" alt="Card image cap">
                    <div class="card-body myBackground2 text-center"> 
                        <h4 class="card-title text-center text-md-left font-weight-bold pb-2"  [innerHTML]="'COMUNIDA.Main.EmpresaSubtitulo1' | translate"></h4>
                        <p class="card-text text-center text-md-left" [innerHTML]="'COMUNIDA.Main.EmpresaSubtitulo1Cont' | translate">
                        </p>
                        <button class="btn-principal text-white mt-md-3 mb-4 mb-sm-0"  (click)="routerEspacios()" [innerHTML]="'COMUNIDA.Main.EmpresaButton' | translate"></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-0 pl-lg-4">
                <div class="card border-0 myBackground2">
                    <img class="card-img-top" src="../../../assets/imagenes/U-Intersección-2.png" class="rounded-0 comunidad-main-imagen"  alt="Card image cap">
                    <div class="card-body myBackground2 text-center"> 
                        <h4 class="card-title text-center text-md-left font-weight-bold pb-2" [innerHTML]="'COMUNIDA.Main.EmpresaSubtitulo2' | translate"></h4>
                        <p class="card-text text-center text-md-left" [innerHTML]="'COMUNIDA.Main.EmpresaSubtitulo2Cont' | translate">
                        </p>
                        <button class="btn-principal text-white mt-md-3 mb-4 mb-sm-0" (click)="routerSalas()" [innerHTML]="'COMUNIDA.Main.EmpresaButton' | translate"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="myBackground">
        <div class="container">
            <div class="row pt-3 pb-5  py-lg-5">
                <div class="col-12 col-md-8 py-2 py-lg-5">
                    <div class="row">
                        <div class="col-2 offset-5 col-md-2 offset-md-0 px-0 text-center">
                            <img src="../../../assets/imagenes/U-Icono-nosotros.png" class="img-fluid w-50 pt-3 pt-md-2 pt-lg-2 pb-2 pb-md-0" alt="">
                        </div>
                        <div class="col-10 offset-1 col-md-10 offset-md-0 px-0">
                            <p class="text-center text-md-left text-white h3" [innerHTML]="'Invitamos.Titulo' | translate">!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                    <button class="btn btn-primary btn-principal" (click)="routerEscribenos()" [innerHTML]="'Invitamos.Button' | translate"></button>
                </div>
            </div>
        </div>
</section> -->